/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 24 oct. 2016, 18:32:15
    Author     : tijo
*/

article
{
    font: normal small-caps 20px fantasy;
}

nav
{
    font : italic 15px/30px Georgia , serif;
    text-align: center;
    background-color: #005580;
    border: 2px ridge black;
    margin : 10px 50px 10px;
    padding : 5px 5px 5px;
}

section
{
    border: 2px ridge black;
    margin : 10px 50px 10px;
    padding : 5px 50px 20px;
    background-color : #F5F5F5;
}

.jeu
{
    border: 2px ridge black;
    margin : 10px 50px 10px;
    padding : 5px 5px 5px;
    background-color : #e13027;
    font: normal small-caps 200%/200% fantasy;
    text-align: center;
}

li
{
    display: inline-block;
    padding: 5px;
}

.bandeau
{
    text-align: center;
    font: bold italic large Palatino, serif;
}
